<section class="border border-transparent border-t-white bg-gradient-to-br from-amber-400 to-orange-500 font-light p-12 flex flex-row justify-around">
    <div class="">
        <div routerLink="/career" class="hover:text-white duration-200 ease-linear cursor-pointer">
            Karrier
        </div>
        <div routerLink="/contact" class="hover:text-white duration-200 ease-linear cursor-pointer">
            Kapcsolat
        </div>
        <div routerLink="/blog" class="hover:text-white duration-200 ease-linear cursor-pointer">
            Blog
        </div>
    </div>
    <div>
        <div>All rights reserved</div>
        <div>Site developed by <a href="https://www.frostbear.de"
                class="hover:text-white duration-200 ease-in">FrostBear</a></div>
    </div>
</section>