<p>Jelentkeztem egy túrára, honnan tudom meg a további részleteket?</p>
<p>Fizetés után a megadott e-mail címére továbbítunk Önnek egy linket, ahol követni tudja a kirándulás részleteit.</p>

<p>Mégsem tudok részt venni a túrán, amire jelentkeztem. Hol tudok lejelentkezni? Visszakapom a pénzem?</p>
<p>A túráról lejelentkezni a weboldalunkon keresztül tud a visszamondási határidő lejártáig. Ebben az esetben 10% kezelési költséget számítunk fel, a maradék összeget pedig igény szerint visszautaljuk vagy bónuszkártyára tesszük Önnek. Amennyiben bónuszkártyával fizetett, az összeget oda utaljuk vissza.</p>

<p>Minden esetben indulnak a túrák?</p>
<p>A privát események minden esetben indulnak, amennyiben időjárás közösen egyeztetünk a továbbiakról. A buszos utazásaink csak bizonyos résztvevőszámtól indítjuk. Az aktuális résztvevőszámot követni tudja az e-mailben kapott linken.</p>

<p>Mi történik, ha nem indul a túra, amire jelentkeztem?</p>
<p>Az elmaradt túráinkat igyekszünk egy későbbi időpontban elindítani. Ha az új időpont nem felel meg önnek, választhatja a pénz visszatérítését, vagy a weboldalunkra bejelentkezve kérhet tőlünk egy bónuszkupont, amelyen található összeget bármikor felhasználhatja az oldalunkon.</p>

<p>Mi az a bónuszkupon és hogyan tudok vele fizetni?</p>
<p>Kuponjainkat az oldalunkra bejelentkezve igényelheti. A következő bónuszkuponokat biztosítjuk: 
    Vándor: 25.000 Ft feltöltése esetén, 5%-os kedvezmény a vándor szintű túráinkból. 
    Túramester: 50.000 Ft-os feltöltés esetén, 10% kedvezmény a Túramester szintű túráinkból. 
    Hegyiember: 100.000 Ft feltöltése esetén, 20% kedvezmény a Hegyiember szintű túráinkból, 10% kedvezmény a Túramester szintű túráinkból. 
    Túrabarátok: Buszos kirándulásunkon van olyan utasunk, akivel már korábban is utazott együtt.
    Bónuszkuponos fizetés esetén térítésmentesen lemondhatja a jelentkezéseit illetve későbbre toljuk Önnek a lemondási határidőt.
    Kuponos fizetés esetén az árból automatikusan levonásra kerül a kuponkedvezmény. Kuponjainkat kizárólag magánszemélyek igényelhetik, egy utazáshoz egyszerre csak egy kupon használható fel.</p>

<p>Intézményi alkalmazott vagyok. Van-e lehetőségem kedvezményre?</p>
<p>Intézményi vendégeinknek a következő lehetőségeket ajánljuk. 
    Visszatérő ügyfél: az utolsó vásárlás óta nem több, mint 6 hónap telt el, 10% kedvezmény.
    Megbízható ügyfél: az utolsó vásárlás óta nem több, mint 3 hónap telt el, 15% kedvezmény.
    Top10: Többet költött oldalunkon, mint az azonos kategóriába tartozó intézményi ügyfeleink 10%-a, 10% kedvezmény.    
</p>

<p>Hátrányos helyzetű gyermek jár a csoportomba / osztályomba, aki nem tudná kifizetni a programot. Tudtok segíteni?</p>
<p>Kérünk, a program kezdete előtt legkésőbb 3 nappal vedd fel velünk a kapcsolatot. Álljuk a rászoruló gyerekek költségeit és biztosítjuk az étkezésüket a csoport 10%-áig.</p>

<p>Tetszenek a túráitok, továbbértékesíthetem őket a saját oldalamon?</p>
<p>Túráinkat alapvetően nem lehet más felületen értékesíteni. Együttműködési ötleted van? Vedd fel velünk a kapcsolatot.</p>