<section class="w-full bg-center bg-cover">
    <div class="w-full bg-gradient-to-br from-amber-100 via-lime-200 via-50% to-transparent">
        <div>
            <app-header></app-header>
        </div>
        <div *ngIf="categories" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-y-6 py-6">
            <div *ngFor="let category of categories">
                <a routerLink="{{category.route}}" 
                    class="group bg-cover bg-hike_masthead min-h-[50vh] flex rounded-xl w-4/5 mx-auto hover:scale-103 hover:shadow-lg duration-300 ease-linear shrink cursor-pointer">
                    <div class="w-full">
                        <div class="mt-4 h-1/5 flex backdrop-blur-sm bg-white/30">
                            <div class="m-auto font-light text-white text-3xl lg:text-4xl">{{category.name}}</div>
                        </div>
                        <div
                            class="text-transparent rounded-md group-hover:text-black group-hover:backdrop-blur-sm group-hover:bg-white/30 flex-wrap m-3 text-center">
                            {{category.description}}</div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>